/*Titles style reset*/
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    letter-spacing: -1px;
}


/***********STYLE FOR MOBILE************/
/*Common styles*/
body {
    font-family: 'Open Sans', Arial, sans-serif;
}

h2 {
    font-size: 25px;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    font-weight: 600;
}

a {
    color: #212529;
    text-decoration: none; /* no underline */
}

a:hover {
    color: #212529;
    text-decoration: none; /* no underline */
}

#professional-information .description p, .about-me {
    text-align: justify;
}


/********Page header********/
/*Common styles*/
.header-resume {
    margin-bottom: 10px;
}

/*Left-part with the photo*/
#photo {
    padding: 16px;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #DBB2B2;
}

/*Right-part with name and job*/
.header-resume .row-header .light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 4px;
    text-align: center;
}

.first-name {
    color: #EEC0C0;
}

.last-name {
    font-weight: 300;
    letter-spacing: -4px;
}

.header-resume h2 {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-top: 14px;
}

.header-resume h2 span {
    position: relative;
}

.header-resume h2 span::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 45%;
    background: #EEC0C0;
}

/*********CONTENT OF THE RESUME*********/
/********PERSONAL INFO STYLE*********/
/*Common styles*/
#personal-information {
    display: flex;
    flex-direction: column;
}

#personal-information h2 {
    font-weight: 600;
}

.colored {
    background-color: #EEC0C0;
}

.dark {
    text-align: center;
    margin-bottom: 3px;
    background-color: #5B5561;
    color: #EEC0C0;
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

button {
    font-size: 25px;
    font-weight: 700;
    background-color: #67606E;
    color: #EEC0C0;
    border: none;
    width: 100%;
    position: relative;
}

button .arrow {
    position: absolute;
    right: 15px;
    top: 2px;
    width: 16px;
    height: 16px;
}

button .arrow i {
    transform: rotate(180deg);
    transition: 0.2s all ease-in-out;
}

button.collapsed .arrow i {
    transform: rotate(0deg);
}

button:focus {
    outline: none;
}

#contact-mobile-tablet-collapsed, #about-mobile-tablet-collapsed, #hobbies-mobile-tablet-collapsed {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul, .about-me {
    padding: 0 40px;
}

/*Contact section style */
#contact ul {
    line-height: 20px;
}

#contact ul li {
    margin-bottom: 19px;
}

/*About section style*/
#about {
    flex-grow: 1;
}

#about blockquote {
    margin-top: 20px;
    padding: 0 40px;
    text-align: justify;
    font-style: italic;
    font-size: 12px;
}

/*Hobbies section style*/
.my-hobbies {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.my-hobbies i {
    font-size: 32px;
    color: #5B5561;
    line-height: 60px;
}

.hobby-circle {
    display: block;
    border-radius: 50%;
    border: 1px solid #67606E;
    width: 60px;
    height: 60px;
    text-align: center;
}

/*********PROFESSIONAL INFO STYLE*********/

/*Common style*/
#professional-information {
    margin-top: 25px;
}

#professional-information article {
    margin-top: 40px;
}

#professional-information .date .circle {
    font-size: 13px;
    padding-top: 3px;
}

#professional-information .date .place {
    padding-left: 17px;
    font-style: italic;

}

#professional-information h2 {
    border-bottom: 2px solid #EEC0C0;
    padding-bottom: 10px;
    text-align: center;
}

#professional-information h2 i {
    margin-right: 16px;
    font-size: 30px;
    position: relative;
    top: 3px;
}

#professional-information i {
    color: #EEC0C0;
}

#trainings article:last-child, #experiences article:last-child {
    margin-bottom: 60px;
}

/*Professional experience section style*/
.dont-show-mobile {
    display: none;
}

/*References section style*/
#ref2 {
    margin-bottom: 40px;
}

.ref h3 {
    font-size: 18px;
}

.ref h4 {
    margin: 0;
}

.ref h4, .reference .phone-number {
    font-weight: 600;
}


/************************TABLETS OVERRIDE STYLE************************/
@media (min-width: 768px) {

    /*********CONTENT OF THE RESUME*********/
    /********PROFESSIONAL INFO STYLE*********/
    /*Common style*/
    #professional-information {
        margin-top: 35px;
    }

    #professional-information h2 i {
        margin-right: 30px;
        font-size: 34px;
        top: 5px;
    }

    /*Professional experience section style*/
    .dont-show-mobile {
        display: initial;
    }

}

/************************DESKTOPS OVERRIDE STYLE************************/
@media (min-width: 992px) {

    /********PAGE HEADER STYLE********/
    /*Common styles*/
    .colored, .colored-desktop {
        background-color: #EEC0C0;
    }

    .header-resume {
        margin-bottom: 0;
    }

    /*Left-part with the photo*/
    #photo {
        padding: 40px;
    }

    /*Right-part with name and job*/
    .header-resume .row-header .light {
        align-items: stretch;
    }

    h1 {
        text-align: left;
        font-size: 50px;
        line-height: 57px;
    }

    .header-resume h2 {
        margin: 0;
        font-size: 25px;
        font-weight: 600;
    }

    /*********CONTENT OF THE RESUME*********/
    /********PERSONAL INFO STYLE*********/
    /*Common style*/
    .my-info {
        display: flex;
    }

    .dark {
        margin-bottom: 30px;
    }

    .row-header .light, .row-content .light {
        padding-left: 60px;
    }

    /*These blocks of info must be visible all the time in desktops because there isn't collasped sections in desktops : */
    .collapse.dont-collapse-lg {
        display: block;
        height: auto !important;
        visibility: visible;
    }

    /*No collapsed sections in desktops so the buttons are deactivated : */
    button {
        pointer-events: none;
        cursor: default;
    }

    /*No collapsed sections in desktops so no need to see the arrows : */
    button .arrow {
        display: none;
    }

    #contact-mobile-tablet-collapsed, #about-mobile-tablet-collapsed, #hobbies-mobile-tablet-collapsed {
        margin-top: 0;
        margin-bottom: 0;
    }

    /*Contact section style*/
    #contact ul {
        margin-bottom: 50px;
    }

    /*My hobbies section style*/
    .my-hobbies {
        margin-bottom: 30px;
    }

    .hobby-circle {
        width: 70px;
        height: 70px;
    }

    .my-hobbies i {
        font-size: 45px;
        line-height: 70px;
    }


    /********PROFESSIONAL INFO STYLE*********/
    /*Common style*/
    #professional-information {
        margin-top: 0px;
    }

    #professional-information h2 {
        text-align: left;
    }

    #professional-information .date .dot {
        padding-top: 2px;
    }

    #professional-information .date .circle {
        padding-top: 5px;
    }

    #professional-information .date .place {
        display: block;
        padding-left: 0;
        font-style: normal;
    }

    /*References section style*/
    .reference {
        margin-bottom: 40px;
    }

}